Package: com.ruyenet.bearcrack
Name: 熊掌记 Crack
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ruyenet
Author: Ruyenet
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
